.sidebar {
  color: #fff;
  width: 18%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  transition: transform 0.3s ease;
  padding: 1em;

}



.sidebar>p:nth-child(1) {
  color: #000000;
  font-size: 10px;
}

.sidebar>p:nth-child(2) {
  color: rgb(125, 125, 188);
  font-size: 9px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul ul {
  display: block;
  /* Ensure all sub-lists are visible */
}

.sidebar ul li {
  padding: 10px;
  padding-bottom: 0;
}

.sidebar ul li:hover>ul {
  display: block;
}

.sidebar .close-btn {
  display: none;
  /* Hidden by default */
  position: absolute;
  top: 10px;
  inset-inline-end: 10px;
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
  color: #ffffff;
}


.user-name>p:nth-child(1) {
  color: #141522;
  font-size: 12px;
  font-weight: bold;
}


.user-name>p:nth-child(2) {
  color: #54577A;
  font-size: 10px;
  margin-top: -1em;
}


.list-group-item {
  border: inherit;

}

img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  margin: auto;
  cursor: pointer;
}


ul {
  img {
    width: 20px;
    height: 20px;
    margin-inline-start: 0px;
  }
}

.settings-list {
  gap: 2em;

  p {
    margin-top: 0.5em;
    font-size: 10px;
    color: #324054;
    margin-inline-start: -2em;
  }
}

.rounded-pill {
  background: #FF472E !important;
  font-size: 9px;
  font-weight: 400;
  cursor: pointer;
  margin-inline-start: 2.1em;
}

.circle1 {
  margin-inline-start: 2.3em;
}

.circle2 {
  margin-inline-start: 2.8em;
}

li {
  a {
    text-decoration: none;
    color: #141522;
    font-size: 12px;
  }
}



@media screen and (max-width: 1025px) {
  .sidebar {
    width: 100%;
    height: 100%;
    transform: translateX(100%);
    background-color: #333;
  }

  .sidebar.open {
    transform: translateX(0);
  }

  .sidebar .close-btn {
    display: block;
  }

  .hamburger {
    display: block;
    position: fixed;
    inset-inline-end: 7px;
    z-index: 9999;
    font-size: 18px;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
  }

  .user-name>p:nth-child(1) {
    color: #ffffff;
  }

  .user-name>p:nth-child(2) {
    color: #ffffff;
  }

  .settings-list {
    p {
      color: #ffffff !important;
    }
  }

  li {
    a {
      color: #ffffff !important;
    }
  }

  img {
    margin: 0%;
  }
}

@media screen and (min-width: 1025px) {
  .hamburger {
    display: none;
  }
}