.stats {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1em;

}



.stats-count {
    width: 175px;
    height: 80px;
    background: #ffffff;
    border-radius: 20px;
    display: flex;
    gap: 14px;
    cursor: pointer;
    padding: 15px;
    &:hover{
        background: #7575a4;
    }
}

.icon {
    img {
        width: 50px;
    }
}

.count>p:nth-child(1) {
    color: #A3AED0;
    font-size: 12px;
}

.count>p:nth-child(2) {
    color: #1B2559;
    ;
    font-size: 11px;
}

.value {
    font-weight: bold;
    font-size: 15px !important;
    color: #000000 !important;
    margin-top: -0.5em;
}

.task-section {
    display: flex;
}

.tasks {
    background: #ffffff;
    height: 2em;
}

.charts-section {
    display: flex;
}

.chart-padding {
    padding: 0 0 1em 1em;
}

.legend-container {
    display: flex;

}

.legend-item {

    align-items: center;

    p {
        // margin-inline-start: 1em;
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 0em;
    }
}

.legend-color {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    /* Creates circular shape */
    margin-right: 10px;
}

.legend-label {
    font-size: 10px;
    color: #000000;
}


.main-section {
    display: flex;
    margin-top: 2em;
    gap: 2em;
}

.box {
    // width: 212px;
    height: auto;
    background: #ffffff;
    border-radius: 20px;
    cursor: pointer;
}


.chart-container {
    margin-top: 2em;
}

.heading {
    display: flex;
}

.heading {
    button {
        cursor: pointer;
        padding: 1em;
    }
}





.mt {
    margin-top: 2em;
}

.list-group {
    overflow-y: scroll;
    height: 22.3em;
    scrollbar-width: thin;
    scrollbar-color: #7575a4 #F5F5F7;
}

.user-names {
    cursor: pointer;
    padding-bottom: 0;

    .users {
        display: flex;
        gap: 1em;
    }
}

.user-details>p:nth-child(1) {
    color: #1B2128;
    font-size: 12px;
    font-weight: 500
}

.user-details>p:nth-child(2) {
    color: #959595;
    font-size: 11px;
    margin-top: -1em;
}

.users-heading {
    color: #534D59;
    font-size: 12px;
    font-weight: 500;
}

.col-md-5 > div:nth-child(2), .col-md-7 > div:nth-child(2), .col-md-6 > div:nth-child(2) {
    background-color: white;
    border-radius: 24px; /* Same border-radius for all columns */
  }

.sub-headings{
    display: flex;
    gap: 1em;
    margin-bottom: -1em;
    margin-top: 1.5em;
    p{
        font-size: 15px;
        font-weight: bold;
        color:#141522;
    }

    button{
        border: 1px solid #C3D3E2;
        border-radius: 10px;
        a{
            color:#0F3659;
            text-decoration: none;
            font-size: 12px;
        }
        a:hover {
            color: #C3D3E2;
        }
    }
    button:hover{
        background: #7575a4;
    }

}
.last-chart{
    border-radius: 24px;
    margin-top: 4.5em !important;
}