<div>
    <div class="stats">
        <div *ngFor="let value of values">
            <div class="stats-count">
              <div class="icon">
                <img src="../../assets/{{value.icon}}" alt="">
              </div>
              <div class="count">
                <p>{{ value.label }}</p>
                <p class="value">{{ value.value }}</p>
              </div>
            </div>
          </div>
    </div>

    <div class="container text-center">
        <div class="row">
            <div class="col-lg-5">
                <div class="sub-headings">
                    <p>Tasks</p>
                    <button><a>View More</a></button>
                </div>

                <div class="bg-white chart-padding">
                    <div class="chart-container doughnut-chart-container">
                        <canvas id="MyChart">{{ chart }}</canvas>
                    </div>
                    <div class="legend-container">

                        <div class="legend-item">
                            <p>{{ chartDataValues[3]}}</p>
                            <div>
                                <span class="legend-color" style="background-color:#c7892c;"></span>
                                <span class="legend-label">Completed</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="sub-headings">
                    <p>Task Assigned</p>
                    <button><a>View More</a></button>
                </div>
                <div class="mt">
                    <ul class="list-group user-lists">
                        <li class="list-group-item text-start users-heading">Users <span (click)="toggleSort()"
                                style="cursor: pointer;">{{ sortIcon }}</span></li>
                        <li class="list-group-item text-start user-names" *ngFor="let item of sortedItems">
                            <div class="users">
                                <div>
                                    <app-user-avatar [name]="item.name"></app-user-avatar>
                                </div>
                                <div class="user-details">
                                    <p>{{item .name}}</p>
                                    <p>{{item .email}}</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="sub-headings">
                    <p>Projects</p>
                    <button><a>View More</a></button>
                </div>
                <div class="chart-container bg-white">
                    <canvas id="LineChart1">{{ lineChart1 }}</canvas>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="chart-container bg-white last-chart chart-radius">
                    <canvas id="LineChart2">{{ lineChart2 }}</canvas>
                </div>
            </div>
        </div>
    </div>
</div>