<div>
    <div class="stats">
        <div *ngFor="let value of values">
            <div class="stats-count">
              <div class="icon">
                <img src="../../assets/{{value.icon}}" alt="">
              </div>
              <div class="count">
                <p>{{ value.label }}</p>
                <p class="value">{{ value.value }}</p>
              </div>
            </div>
          </div>
    </div>

    <div class="container text-center">
        <div class="row">
            <div class="col-lg-5">
                <div class="sub-headings">
                    <p>Tasks</p>
                    <button><a>View More</a></button>
                </div>

                <div class="bg-white chart-padding">
                    <div class="chart-container doughnut-chart-container">
                        <canvas id="MyChart">{{ chart }}</canvas>
                    </div>
                    <div class="legend-container">

                        <div class="legend-item">
                            <p>{{ chartDataValues[3]}}</p>
                            <div>
                                <span class="legend-color" style="background-color:#c7892c;"></span>
                                <span class="legend-label">Completed</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="sub-headings">
                    <p>Task Assigned</p>
                    <button><a>View More</a></button>
                </div>
                <div class="mt">
                    <ul class="list-group user-lists">
                        <li class="list-group-item text-start users-heading">Users <span (click)="toggleSort()"
                                style="cursor: pointer;">{{ sortIcon }}</span></li>
                        <li class="list-group-item text-start user-names" *ngFor="let item of sortedItems">
                            <div class="users">
                                <div>
                                    <app-user-avatar [name]="item.name"></app-user-avatar>
                                </div>
                                <div class="user-details">
                                    <p>{{item .name}}</p>
                                    <p>{{item .email}}</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="sub-headings">
                    <p>Projects</p>
                    <button><a>View More</a></button>
                </div>
                <div class="chart-container bg-white">
                    <canvas id="LineChart1">{{ lineChart1 }}</canvas>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="chart-container bg-white last-chart chart-radius">
                    <canvas id="LineChart2">{{ lineChart2 }}</canvas>
                </div>
            </div>

            <!-- <div>
                <div *ngFor="let item of countData; let i = index">
                  <div class="progress">
                    <div
                      *ngFor="let key of ['count1', 'count2', 'count3', 'count4', 'count5']"
                      class="progress-bar"
                      [style.width.%]="item[key] / getTotal(item) * 100"
                      [ngClass]="{
                        'bg-success': key === 'count1',
                        'bg-info': key === 'count2',
                        'bg-warning': key === 'count3',
                        'bg-danger': key === 'count4',
                        'bg-primary': key === 'count5'
                      }"
                    ></div>
                  </div>
                  <p>Total: {{ getTotal(item) }}</p>
                </div>
              </div> -->
              

              <table mat-table [dataSource]="countData">
                <!-- Define columns -->
                <ng-container matColumnDef="index">
                  <th mat-header-cell *matHeaderCellDef> Index </th>
                  <td mat-cell *matCellDef="let element; let i = index"> {{ i + 1 }} </td>
                </ng-container>
              
                <!-- Define columns for count1 to count5 -->
                <ng-container matColumnDef="counts">
                  <th mat-header-cell *matHeaderCellDef> Counts </th>
                  <td mat-cell *matCellDef="let element">
                    <app-progress-bars [data]="element"></app-progress-bars>
                  </td>
                </ng-container>
              
                <!-- Assign columns to the table rows -->
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
              
              
              
              




            
            <div class="column-container">
                <div class="column">
                  <input type="radio" id="radio1" name="column1" >
                  <label for="radio1">Option 1</label>
                </div>
                <div class="column">
                  <input type="radio" id="radio2" name="column1" >
                  <label for="radio2">Option 2</label>
                </div>
                <div class="column">
                  <input type="radio" id="radio3" name="column1" >
                  <label for="radio3">Option 3</label>
                </div>
              </div>
              
              <!-- <div class="progress-bar" [ngStyle]="{'background-color': getColor(progress.status)}">
                <div class="progress" [ngStyle]="{'width': progress.value + '%'}"></div>
              </div> -->

            <div class="image-container">
                <img src="../../assets/Avatars.png" alt="Image 1">
                <img src="../../assets/Avatars.png" alt="Image 2">
                <img src="../../assets/Avatars.png" alt="Image 3">
                <div class="plus-sign">+</div>
                <!-- Add more images as needed -->
              </div>

           

  
  
              
        </div>
    </div>
</div>